table, td{
    width: 24%;
    height: 89px;
    border-collapse: collapse;
    background-color: darkgreen;
    text-align: center;
    margin: auto;
    border-radius: 70%;
    background-image: url("darkgreenmetal.jpg");
}

button{
    width: 24%;
    height: 74px;
    background-color: darkgreen;
    color: gold;
    border-collapse: collapse;
    border: 5px inset gold;
    border-style: dashed inset none;
    border-radius: 50% 70%;
    background-image: url("darkgreenmetal2.jpg");
}

div{
    border-collapse: collapse;
    text-align: center;
    background-color: indigo;
    font-size: 30px;
    color: honeydew;
    border: 1px solid black;
    border-style: solid none;
    border-radius: 30% 70%;
    background-image: url("darkpurple.jpg");
}